html {
	position: relative;
	min-height: 100%;
  }
body {
	margin-bottom: 100px;
  }
  #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f8f9fa;
	margin-top: 30px;
  }
.info {
	padding-top: 50px;
	padding-bottom: 130px;
}
.mycard {
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.mycard:hover {
	box-shadow: 0 14px 30px -15px rgb(0, 0, 0, 0.75);
}

.scale {
    transition: 0.8s; 
   }

.scale:hover {
    transform: scale(1.2); 
   }

.card-text {
	height: 70px;
	overflow: hidden;
}

.card-title {
	height: 50px;
	overflow: hidden;
}
